body {
  background-color: gray;
  text-align: center;
}

h3 {
  color: red;
}

a {
  margin: 20px;
}

.youtube-video {
  width: 100%;
  height: auto;
}

table {
  text-align: center;
  width: 1000px;
}

